<aside class="desktop-show" id="aside-sidebar">

    <div class="aside-inner">
        {% comment %} DEZE OPENEN MET HAMBURGER MENU??? {% endcomment %}
        <div class="menu-top">
            <input type="radio" id="Live" name="toggle" checked aria-label="Live section">
            <label for="Live" class="menu-item">Live</label>
        
            <input type="radio" id="Stations" name="toggle" aria-label="Stations section">
            <label for="Stations" class="menu-item">Stations</label>
        </div>

        <div class="aside-live" data-sidebar-section="live">
            <img src="/assets/amy.png" alt="">
            <div class="deejay-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00003 0.666672C10.4851 0.666672 12.5733 2.36637 13.1653 4.66667H14V8.00001H10.6667V7.99955C10.0584 8.80928 9.09 9.33334 8 9.33334C6.91 9.33334 5.94165 8.80928 5.33333 7.99955V8.00001H2V4.66667H2.83472C3.42677 2.36637 5.51491 0.666672 8.00003 0.666672ZM4.22763 4.66667H4.94435C5.45903 3.48974 6.63398 2.66667 8 2.66667C9.36602 2.66667 10.541 3.48974 11.0557 4.66667H11.7724C11.2233 3.11308 9.74165 2.00001 8.00003 2.00001C6.2584 2.00001 4.77675 3.11308 4.22763 4.66667ZM8 4.00001C9.1 4.00001 10 4.9 10 6.00001C10 7.1 9.1 8.00001 8 8.00001C6.9 8.00001 6 7.1 6 6.00001C6 4.9 6.9 4.00001 8 4.00001ZM2 10.6667V15.3333H14V10.6667H2ZM3.33333 14V12H12.6667V14H3.33333Z" fill="#8B8B8B"/>
                </svg> Sander hoogendoorn
            </div>
            <div class="text-xl">Goud van Oud</div>
        </div>
        <div class="aside-stations" data-sidebar-section="stations">
            <div class="wrapper-container">
                <p class="text-l">Bekijk andere radiostations</p>
                {% for radiostation in radiostations %}
                    {% if radiostation.id != thisstation %}
                        <div class="one-radiostation block-radio-{{radiostation.id}}">
                            <a href="/station/{{radiostation.name | url_encode | replace: '+', '%20'}}/programmering">
                                <img src="/assets/radio-{{ radiostation.id }}.png" alt="Logo van {{radiostation.name }}">
                                {% if radiostation.id > 3 %}
                                    <img class="tbd" src="/assets/TBD.png" alt="Deze zender is nog niet beschikbaar">
                                {% endif %}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="one-radiostation block-radio-mediahuis">
                    <a href="/">
                        <img src="/assets/mediahuis-high.webp" alt="Logo van Mediahuis">
                    </a>
                </div>
            </div>
        </div>
    </div>

</aside>