<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/colors-{{style}}.css">
    <link rel="stylesheet" href="/css/style.css">
    
    {% if style == "mediahuis" %}
      <link rel="stylesheet" href="/css/home.css">
    {% else %}
      <link rel="stylesheet" href="/css/radio-main.css">
    {% endif %}
    <link rel="stylesheet" href="/css/view-transition.css">
  </head>
  <body>