{% render 'partials/head.liquid'  style: "mediahuis" title: "Mediahuis" %}
{% render 'partials/header.liquid' v: "h" title: "Mediahuis" %}{% comment %} Version : Home {% endcomment %}

<main class="home">
    <div class="main-wrapper-container">
        <h1 class="text-xl">Radiostations</h1>
        {% assign sorted_radiostations = radiostations | sort: radiostation.id %}
        {% for radiostation in sorted_radiostations %}
        
            <div class="one-radiostation block-radio-{{radiostation.id}}">
                <a href="/station/{{radiostation.name | url_encode | replace: '+', '%20'}}/programmering">
                    <img src="/assets/radio-{{ radiostation.id }}.png" alt="Logo van {{radiostation.name }}">
                    {% if radiostation.id > 3 %}
                        <img class="tbd" src="/assets/TBD.png" alt="Deze zender is nog niet beschikbaar">
                    {% endif %}
                </a>
            </div>
            
        {% endfor %}

    </div>
</main>
{%  render 'partials/foot.liquid' stationID: thisstation, v: "h" stationName: stationNameGenerated %}